.message {
  &__container {
    width: 100%;
    height: auto;
    background-color: red;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
    animation: fadein 1s ease infinite;
  }
  &__text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@keyframes fadein {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
